
<!DOCTYPE HTML>

<head>
    <title></title>
    </head>

    <body>


        <h2>Assalamualaikum</h2>
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>


        <link href="~/Content/css/bootstrap-theme.min.css" rel="stylesheet" />
        <link href="~/Content/css/bootstrap-theme.css" rel="stylesheet" />
        <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    </body>

